.App {
  text-align: center;
  justify-content: center;
}

.input-box {
  display: flex;
  flex-direction: column;

}

.inputs {
  padding: 20px;
}

.app-body {
  display: flex;
  padding: 30px;
  flex-direction: row;
  justify-content: space-between;
}

.pop-users-view {
  /* background-color: var(--div-background); */
  margin-right: -30px !important;
  margin-top: -30px;
  border-left: 5px solid ;
}



.addtool-btn:hover {
  filter: brightness(85%);
}
